
/*tipo de fuente y margen
*/
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    /*Imagen de fondo y agrandar la imagen para que quede una sola*/
    background: #F3E6E6;
    background-size: cover;
    background-attachment: fixed;
}

* {
    box-sizing: border-box;
}

/* Add a black background color to the top navigation */
.topnav{
  background-color: #B81313;
  overflow: hidden;  
}

/* Style the links inside the navigation bar */
.topnav a  {
  float: right;
  color: #f2f2f2;
  text-align: left;
  padding: 10px 12px;
  margin-top: 25px;
  text-decoration: none;
  font-size: 16px;
}

.nombre-empresa{
    font-family: cursive;
  }

/* Change the color of links on hover */
.topnav a:hover {
  background-color:  rgb(255, 246, 246);
  color: #E20303;
}

.topnav a.logotipo{
    background-color: #B81313;
    color: rgb(255, 249, 249);
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 10px 8px;
    margin-top: 0px;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;  
}

.menu_abajo{
    background-color: rgb(253, 231, 231);
    overflow: hidden;
    -webkit-box-shadow: 5px 5px 5px #3b3b3b; /*Para agg sombra al contenedor */
}
.menu_abajo a  {
    float: right;
    color: #fb3939;
    text-align: left;
    padding: 12px 14px;
    text-decoration: none;
    font-size: 14px;
  }
/* Add a color to the active/current link */
.menu_abajo a.active {
    background-color: #E20303;
    color: white;
  }
  .menu_abajo a:hover {
    background-color:  #D40A0A;
    color: rgb(255, 255, 255);
  }
