
/*tipo de fuente y margen
*/
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: cursive;
    margin: 0;
    /*Imagen de fondo y agrandar la imagen para que quede una sola*/
    background: #F3E6E6;
    background-size: cover;
    background-attachment: fixed;
}

* {
    box-sizing: border-box;
}

.title-bloque{
 /*color: #fcdede;*/
 color: #382626;
 background-color: rgb(253, 203, 203);
  margin-left: 65px;
  margin-right: 65px;
  font-family: cursive;
}

.btn_pedir{
  border: none;
  width: 50%;
  color: white;
  font-size: 22px;
  background: #DE0606;
  border-color: #FFC700;
  border-width: 2px;
  border-style: solid;
  padding: 8px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 70px;
  margin-bottom: 10px;
  font-size: 14px;
  font-family: cursive;
}
/* Para que al pasar el mouse sobre el boton cambie de color*/
.btn_pedir:hover{
  background: rgb(255, 64, 64);
}

/*Quitar subrayado del link iniciar sesión, cambio de color y grosor del texto*/

.cajas{
  width: calc(21.5% - 15px);
  margin: 20px;
  height: auto;
  background: rgb(255, 255, 255);
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
  float: left;
}
.con-cajas{
display: flex;
align-items: left;
justify-content: center;
}


.bebida{
  margin-left: 35px; 
}

.precio{
  color: rgb(253, 55, 48);
  font-family: cursive;
}

/*Para alinear la imagien que hay dentro del div */
.pizza{
  margin-left: 10px; 
}

.title-product{
font-family: Georgia, 'Times New Roman', Times, serif;
color: #302727;
}

