

/*tipo de fuente y margen
*/
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: cursive;
    margin: 0;
    /*Imagen de fondo y agrandar la imagen para que quede una sola*/
    background: url(../Img/Fondo.jpg);
    background-size: cover;
    background-attachment: fixed;
}

* {
    box-sizing: border-box;
}

 
.contenedor{
    height: 100%;
    align-content: center;
    }
    
    .formulario{
        background: rgba(255, 240, 240, 0.932);
        width: 450px;
        margin: auto;
        padding: 10px;
        box-sizing: border-box;
        margin-top: 100px;
        -webkit-box-shadow: 5px 5px 5px #111010; /*Para agg sombra al contenedor */
        border-radius: 5px;
    }
    
    .icono{
        margin-top: 10px;
    }
    
    .input-group-prepend span{
    width: 50px;
    background-color: #ffaa00;
    background: linear-gradient(to right,#ffaa00,#ffd900,#ffd900,#ffaa00);
    color: black;
    border:0 !important;
    }

    input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;
    }
    
    .button{
        border: none;
        width: 40%;
        color: white;
        font-size: 18px;
        background: linear-gradient(to right,#870808,#FF0202,#E20303,#870808);
        padding: 8px 20px;
        border-radius: 10px;
        cursor: pointer;
        margin-left: 110px;
        margin-bottom: 15px;
        margin-top: 15px;
    }
    /* Para que al pasar el mouse sobre el boton cambie de color*/
    .button:hover{
        background: rgb(255, 22, 22);
    }
    
    .p1{
        text-align: right;
    }
    .p2{
        text-align: center;
    }
    
    /*Quitar subrayado del link iniciar sesión, cambio de color y grosor del texto*/
    .link{
        text-decoration: none;
        color: #0679FF;
        font-weight: 600;
    }
    .link:hover{
        color: #0b9afa;
    }
    


  /* Para que sea responsive 
  @media(min-width:468px)
{
    .formulario{
        margin: auto;
        width: 480px;
        margin-top: 70px;
        border-radius: 1%;
    }
}
*/