* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: #C4C4C4;
	font-family: 'Roboto', sans-serif;
	line-height: 18px;
}

/* Add a black background color to the top navigation */
.topnav{
   background-color: #384253;
   overflow: hidden;
   width: 81.3%;
   margin-left: 18.7%;

 }
 
 /* Style the links inside the navigation bar */
 .topnav a  {
   float: right;
   color: #ADB3BE;
   text-align: left;
   padding: 16px 12px;
   margin-top: 18px;
   text-decoration: none;
   font-size: 16px;
 }

 .topnav a.logotipo{
   background-color: #384253;
   float: left;
   color: #7f7f8a;
   text-align: center;
   padding: px 8px;
   margin-top: 10px;
   text-decoration: none;
   font-size: 16px;
   font-family: 'Raleway', sans-serif;
}
.floating{
   position: relative;
}
.item{
   padding: 1px;
}

 .menu_abajo{
     background-color: #ffffff;
     overflow: hidden;
     width: 81.3%;
     margin-left: 18.7%;
     -webkit-box-shadow: 5px 5px 5px #3b3b3b; /*Para agg sombra al contenedor */
 }
 .menu_abajo .inf_menu_abajo  {
     float: left;
     color: #2F2E41;
     text-align: left;
     padding: 12px 14px;
     text-decoration: none;
     font-size: 14px;
   }
 
   .title-bloque{
       color: #413939;
   }

.fondo_menu{
   background-color: #384253;
   width: 300px;
   height: 770px;
   margin-top: -122px;
 }

 .contenedor-menu a.logotipo{
   color: rgb(255, 249, 249);
   float: left;
   color: #ffffff;
   text-align: center;
   padding: 1px 80px;
   margin-top: 15px;
   text-decoration: none;
   font-size: 14px;
   font-family: 'Raleway', sans-serif;
}

a {
	text-decoration: none;
	color:#fff;
}

.user {
	padding: 30px;
	background: #3C4B64;
   color:#fff;
   margin-top: 80px;
   font-size: 18px;
   font-family: 'Roboto', sans-serif;
   text-align: center;
}

.contenedor-menu .icon_usuario {
   font-size: 50px;
	line-height: 18px;
}

.contenedor-menu  .icon_usuario {
	float: left;
	margin-right: 1px; 
}
.title_menu {
	padding: 15px;
	background: #1B2945;
   color:#87909F;
   margin-top:  40px;
   margin-bottom: 50px;
   font-size: 14px;
   font-family: 'Roboto', sans-serif;
}

.contenedor-menu {
	width: 20%;
	min-width: 300px;
   display: inline-block;
	font-family: 'Roboto', sans-serif;
	line-height: 18px;
}

.contenedor-menu .menu {
	width: 100%;
}

.contenedor-menu ul {
	list-style: none;
}

.contenedor-menu .menu li a {
	color:#fff;
	display: block;
	padding: 15px 20px;
   background: #020E39;
   margin-bottom: 5px;
}

.contenedor-menu .menu li a:hover {
	background: #DADDE1;
	color:#041348;
}

.contenedor-menu .menu .icono.izquierda {
	font-size: 25px;
	line-height: 18px;
}

.contenedor-menu .menu .icono.izquierda {
	float: left;
	margin-right: 10px; 
}

.contenedor-menu .menu .icono.derecha {
	float: right;
	margin-left: 10px; 
}

.contenedor-menu .menu ul {
	display: none;
}

.contenedor-menu .menu ul li a {
	background: #303C54;
	color:#e9e9e9;
}

.contenedor-menu .menu .activado > a {
	background: #1a95d5;
	color:#fff;
}

@media screen and (max-width: 450px) {
	body {
		padding-top: 80px;
	}

	.contenedor-menu {
		margin: 0;
		width: 100%;
		position: fixed;
		top:0;
		z-index: 1000;
	}

	.btn-menu {
		display: block;
	}

	.contenedor-menu .menu {
		display: none;
	}
}